---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About Me">
  <figure class="card bg-base-100 w-4/5 mx-auto my-12 shadow-xl">
    <div class="card-body">  
      <h1 class="text-4xl font-bold mb-4">About Me</h1>
      <p class="mb-4">I am a contract software engineer with 8 years of professional experience. My expertise spans across multiple programming languages and technologies, including:</p>
      <ul class="list-disc list-inside mb-4">
        <li>Python</li>
        <li>Rust</li>
        <li>Golang</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>HTML/CSS</li>
      </ul>
      <p class="mb-4">I specialize in developing robust and scalable software solutions, leveraging my diverse skill set to meet the unique needs of each project.</p>
    </div>
  </figure>

</Layout>
